@using Northwind.Models
@model IEnumerable<Category>

    @* Displays category links and routes to product/index view based on category id selected *@

    <div class="bg-primary m-1 p-1"><h4>Categories</h4></div>
    <ul>
        @foreach (Category category in Model){
           
              <li><a asp-action="Index" asp-route-id="@category.CategoryId">
               @category.CategoryName - @category.Description
               </a>
                 </li>

        }
    </ul>
