@using Northwind.Models
@model IEnumerable<Product>
    
    @* Displays table for product information based on category selected *@
    
    <div class="bg-primary m-1 p-1"><h4>Products</h4></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody id="product_rows">
        @foreach (Product category in Model){
        <tr>
            <td>@category.ProductName</td>
            <td>@category.UnitPrice</td>
            <td>@category.UnitsInStock</td>
        </tr>
        }
        </tbody>
    </table>
    @section scripts
{
    <script>
    $(function () {
        getProducts()
        function getProducts() {
            $.getJSON({
                url: "../../api/product",
                success: function (response, textStatus, jqXhr) {
                    $('#product_rows').html("");
                    for (var i = 0; i < response.length; i++){
                        var row = "<tr>"
                            + "<td>" + response[i].productName + "</td>"
                            + "<td class=\"text-right\">$" + response[i].unitPrice.toFixed(2) + "</td>"
                            + "<td class=\"text-right\">" + response[i].unitsInStock + "</td>"
                            + "</tr>";
                        $('#product_rows').append(row);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // log the error to the console
                    console.log("The following error occured: " + textStatus, errorThrown);
                }
            });
        }
    });
    </script>
}